*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    display: flex;
    gap: 40px;
}

.left-main{
    width: 40vw;
}
.left-main img{
    width: 40vw;
    height: 100%;
    object-fit: cover;
    position: fixed;
}
.right-main{
    width: 60vw;
    padding-right: 10px;
    /* justify-content: center; */
}

.header{
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 140px;
    justify-content: center;
}

.header h1{
    font-size: 55px;
    font-family: arial narrow;
}

.header p{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header button{
    width: 180px;
    height: 45px;
    font-size: 16px;
    border: none;   
}

.My-Portfolio{
    padding-top: 75px;
    font-size: 30px;
}

.list-image{
    width: 100%;
    display: flex ;
    gap: 15px;
    /* padding-right: 40px; */
    padding-top: 10px;
}

.left-image{
    width: 45%;
}

.right-image{
    width: 55%;
}
.left-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.right-image img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
#anh1{
    height: 494px;
}

#anh2 ,#anh3{
    height: 200px;
}

#anh5{
    height: 230px;
}

.about{
    padding-top: 20px;
    font-size: 23px;
    font-family: Arial;
    color: #888888;
    padding-bottom: 20px;
}

.text{
    font-size: 16px;
    padding-top: 15px;
}

.myskill{
    font-size: 28px;
    padding-top: 15px;
    color: #888888;
}
.photography{
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
}

.percent-photography{
    display: flex;
    width: 100%;
}

.left-percent{
    width: 95%;
    height: 40px;
    text-align: center;
    background-color: #666666;
    line-height: 40px;
}

.right-percent{
    width: 5%;
    height: 40px;
    background-color: #AAAAAA;
}
#webdesign-left{
    width: 80%;
}
#webdesign-right{
    width: 20%;
}

#photoshop-left{
    width: 65%;
}
#photoshop-right{
    width: 35%;
}

.thongke{
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.partner{
    width: 25%;
    height: 70px;
    background-color: #666666 ;
    text-align: center;
    padding-top: 15px;
}
.project{
    width: 25%;
    height: 70px;
    background-color: #666666 ;
    text-align: center;
    padding-top: 15px;
}
.happy{
    width: 25%;
    height: 70px;
    background-color: #666666 ;
    text-align: center;
    padding-top: 15px;
}
.meeting{
    width: 25%;
    height: 70px;
    background-color: #666666 ;
    text-align: center;
    padding-top: 15px;
}
.button-container{
    padding-top: 20px;
}
.button-container button{
    width: 170px ;
    height: 45px;
    background-color: #AAAAAA;
    font-size: 16px;
    border: none;
}

.My-Reputation{
    font-size: 30px;
    padding-top: 20px;
    color: #888888;
}

.nd1-reputation{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
.left-nd1{
    width: 20%;
    height: 150px;
}
.left-nd1 img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    border-radius: 50% 50%;
}

.right-nd1{
    padding-left: 54px;
    padding-top: 40px;
    font-size: 20px;
}
#color-text{
    color: #CCCCCC;
}

.My-Price{
    padding-top: 20px;
    font-size: 35px;
    color: #AAAAAA;
    padding-bottom: 20px;
}

.table{
    display: flex;
    width: 100%;
    gap: 10px;
}

.left-table{
    width: 50%;
    height: 60px;
    background-color: #666666;
    text-align: center;
    line-height: 60px;
}
.right-table{
    width: 50%;
    height: 60px;
    background-color: #666666;
    text-align: center;
    line-height: 60px;
}

.table1{
    display: flex;
    width: 100%;
    gap: 10px;
}

.left-table1{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;

}
.right-table1{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;
}

.table2{
    display: flex;
    width: 100%;
    gap: 10px;
}

.left-table2{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;
}
.right-table2{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;
}

.table3{
    display: flex;
    width: 100%;
    gap: 10px;
}

.left-table3{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;
}
.right-table3{
    width: 50%;
    height: 60px;
    background-color: #CCCCCC;
    text-align: center;
    line-height: 60px;
    border: 1px solid #666666;
}

.contactme{
    font-size: 35px;
    color: #AAAAAA;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lienhe{
    padding-top: 20px;
    display: flex;
}

.lienhe p{
    color: #999999;
    padding-left: 15px;
    font-size: 18px;
}

.image-footer{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 20px;
}

.thongbao{
    font-size: 18px;
    padding-top: 20px;
    color: #AAAAAA;
}



.footer-input{
    padding-top: 20px;
}

.footer-input input{
    width: 100%;
    height: 50px;
}

.footer-button{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-button button{
    width: 200px;
    height: 60px;
    border: none;
    font-size: 18px;
    color: #888888;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #888888;
}

.footer-icon{
    text-align: center;
    padding-top: 90px;
    font-size: 23px;
}

.footer-link{
    justify-content: center;
    display: flex;
    font-size: 20px;
}
@media only screen and (max-width: 1024px) {
    .left-main{
        width: 30vw;
    }
    .left-main img{
        width: 30vw;
    }

    .right-main{
        width: 70vw;
    }

    .list-image{
        flex-direction: column;
    }
    .left-image{
        width: 100%;
    }
    .right-image{
        width: 100%;
    }
    .left-image img{
        padding-top: 10px;
    }
    .right-image img{
        padding-top: 10px;
    }

    .right-main{
        padding-right: 0px;
        padding-left: 10px;
    }
    .left-nd1{
        width: 40%;
        height: 100px;
    }
  }

  @media only screen and (max-width:844px) {
    .left-main{
       
        width: 100vw;
        height: 150px;
        /* position: fixed;
        top: 0px; */
       
    }
    .left-main img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-attachment: fixed;
        position: inherit;
    }
    .main{
        display: block;
    }
    .header{
        padding-top: 20px;
    }
    .right-main{
        width: 100vw;
        padding-right: 10px;
    }
    .My-Portfolio{
        padding-top: 5px;
    }
  }